<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/70e55e60-c9b8-4aba-9b2a-46284307ddfb/resourcegroups/BookingSystem/providers/Microsoft.Web/sites/FlightBookingAdmin20220629130739</ResourceId>
    <ResourceGroup>BookingSystem</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://flightbookingadmin20220629130739.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e5b12540-3188-492c-b99c-1f3fc81c690e</ProjectGuid>
    <PublishUrl>https://flightbookingadmin20220629130739.scm.azurewebsites.net/</PublishUrl>
    <UserName>$FlightBookingAdmin20220629130739</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>